<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hull.mapper.ClassOrderInfoMapper">
	<!--查询字段-->
	<sql id="columns">
	    a.`id`,
	    a.`meeting_topic`,
	    a.`meeting_time_id`,
	    a.`class_id`,
	    a.`order_staff_id`,
	    a.`team_id`,
	    a.`status`,
	    a.`create_time`,
	    a.`update_time`
	</sql>
	
	<!--查询结果集-->
	<resultMap id="beanMap" type="com.hull.entity.ClassOrderInfo">
	    <result property="id" column="id"/>
	    <result property="meetingTopic" column="meeting_topic"/>
		<result property="meetingTimeId" column="meeting_time_id"/>
		<result property="classId" column="class_id"/>
		<result property="orderStaffId" column="order_staff_id"/>
		<result property="teamId" column="team_id"/>
		<result property="status" column="status"/>
	    <result property="createTime" column="create_time"/>
	    <result property="updateTime" column="update_time"/>
	</resultMap>
	
	<!--根据主键获取实体-->
	<select id="get" resultMap="beanMap">
	  SELECT
		<include refid="columns"/>
	  FROM
		class_order_info a
	  WHERE 
	     id = #{id}
	</select>
	<select id="select" resultMap="beanMap">
		SELECT
		<include refid="columns"/>
		FROM
		class_order_info a
		WHERE  1=1
		<if test="id != null">
			AND `id` = #{id}
		</if>
		<if test="classId != null">
			AND `class_id` = #{classId}
		</if>
		<if test="meetingTopic != null">
			AND `meeting_topic` like '%${meetingTopic}%'
		</if>
		<if test="orderStaffId != null">
			AND `order_staff_id` = #{orderStaffId}
		</if>
		<if test="teamId != null">
			AND `team_id` = #{teamId}
		</if>
		<if test="status != null">
			AND `status` = #{status}
		</if>
		<if test="meetingTimeId != null">
			AND `meeting_time_id` = #{meetingTimeId}
		</if>
		order by id desc
	</select>

	<!-- 新增记录 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.hull.entity.ClassOrderInfo">
	  INSERT INTO class_order_info 
	    (
	    `class_id`,
	    `order_staff_id`,
	    `team_id`,
	    `status`,
	    `meeting_topic`,
	    `meeting_time_id`,
	    `create_time`,
	    `update_time`		
	    )
	   VALUES 
	   (
	    #{classId},
	    #{orderStaffId},
	    #{teamId},
	    #{status},
	    #{meetingTopic},
	    #{meetingTimeId},
	    #{createTime},
	    #{updateTime}		
	   )
	</insert>
    
    
    <!--更新实体信息-->
    <update id="update" parameterType="com.hull.entity.ClassOrderInfo">
      UPDATE 
      	class_order_info 
      SET 
        `class_id` = #{classId},
        `order_staff_id` = #{orderStaffId},
        `team_id` = #{teamId},
        `status` = #{status},
        `meeting_topic` = #{meetingTopic},
        `meeting_time_id` = #{meetingTimeId},
        `create_time` = #{createTime},
        `update_time` = #{updateTime}      
      WHERE  id = #{id}
    </update>
    
    <!--更新实体信息，null值字段不更新-->
    <update id="updateIgnoreNull" parameterType="com.hull.entity.ClassOrderInfo">
        UPDATE class_order_info 
        <set>
          <if test="classId != null">
           `class_id` = #{classId},
      	  </if>
          <if test="orderStaffId != null">
           `order_staff_id` = #{orderStaffId},
      	  </if>
          <if test="teamId != null">
           `team_id` = #{teamId},
      	  </if>
          <if test="status != null">
           `status` = #{status},
      	  </if>
          <if test="meetingTopic != null">
           `meeting_topic` = #{meetingTopic},
      	  </if>
		 <if test="meetingTimeId != null">
           `meeting_time_id` = #{meetingTimeId},
      	  </if>
        </set>
        WHERE   id = #{id}
    </update>
    
    <!--根据主键删除实体-->
    <delete id="delete">
      DELETE FROM class_order_info WHERE  id = #{id}
    </delete>
</mapper>