<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hull.mapper.StaffInfoMapper">
	<!--查询字段-->
	<sql id="columns">
	    a.`id`,
	    a.`name`,
	    a.`password`,
	    a.`email`,
	    a.`team_id`,
	    a.`role_id`
	</sql>
	
	<!--查询结果集-->
	<resultMap id="beanMap" type="com.hull.entity.StaffInfo">
	    <result property="id" column="id"/>
	    <result property="name" column="name"/>
	    <result property="password" column="password"/>
	    <result property="email" column="email"/>
	    <result property="teamId" column="team_id"/>
	    <result property="roleId" column="role_id"/>
	</resultMap>
	
	<!--根据主键获取实体-->
	<select id="get" resultMap="beanMap">
	  SELECT
		<include refid="columns"/>
	  FROM
		staff_info a
	  WHERE 
	     id = #{id}
	</select>

	<select id="select" resultMap="beanMap">
		SELECT
		<include refid="columns"/>
		FROM
		staff_info a
		WHERE  1=1
		<if test="name != null">
			AND `name` = #{name}
		</if>
		<if test="password != null">
			AND `password` = #{password}
		</if>
		<if test="email != null">
			AND `email` = #{email}
		</if>
		<if test="teamId != null">
			AND `team_id` = #{teamId}
		</if>
		<if test="roleId != null">
			AND `role_id` = #{roleId}
		</if>
	</select>

	<!-- 新增记录 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.hull.entity.StaffInfo">
	  INSERT INTO staff_info 
	    (
	    `name`,
	    `password`,
	    `email`,
	    `team_id`,
	    `role_id`		
	    )
	   VALUES 
	   (
	    #{name},
	    #{password},
	    #{email},
	    #{teamId},
	    #{roleId}		
	   )
	</insert>
    
    <!--更新实体信息，null值字段不更新-->
    <update id="updateIgnoreNull" parameterType="com.hull.entity.StaffInfo">
        UPDATE staff_info 
        <set>
          <if test="name != null">
           `name` = #{name},
      	  </if>
          <if test="password != null">
           `password` = #{password},
      	  </if>
          <if test="email != null">
           `email` = #{email},
      	  </if>
          <if test="teamId != null">
           `team_id` = #{teamId},
      	  </if>
          <if test="roleId != null">
           `role_id` = #{roleId},
      	  </if>
        </set>
        WHERE   id = #{id}
    </update>
    
    <!--根据主键删除实体-->
    <delete id="delete">
      DELETE FROM staff_info WHERE  id = #{id}
    </delete>
</mapper>