<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hull.mapper.TeamInfoMapper">
	<!--查询字段-->
	<sql id="columns">
	    a.`id`,
	    a.`team_name`,
	    a.`team_code`
	</sql>
	
	<!--查询结果集-->
	<resultMap id="beanMap" type="com.hull.entity.TeamInfo">
	    <result property="id" column="id"/>
	    <result property="teamName" column="team_name"/>
	    <result property="teamCode" column="team_code"/>
	</resultMap>
	
	<!--根据主键获取实体-->
	<select id="get" resultMap="beanMap">
	  SELECT
		<include refid="columns"/>
	  FROM
		team_info a
	  WHERE 
	     id = #{id}
	</select>

	<select id="select" resultMap="beanMap">
		SELECT
		<include refid="columns"/>
		FROM
		team_info a
		WHERE  1=1
		<if test="teamName != null">
			AND `team_name` = #{teamName}
		</if>
		<if test="teamCode != null">
			AND `team_code` = #{teamCode}
		</if>

	</select>
    
	<!-- 新增记录 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.hull.entity.TeamInfo">
	  INSERT INTO team_info 
	    (
	    `team_name`,
	    `team_code`		
	    )
	   VALUES 
	   (
	    #{teamName},
	    #{teamCode}		
	   )
	</insert>
    
    
    <!--更新实体信息-->
    <update id="update" parameterType="com.hull.entity.TeamInfo">
      UPDATE 
      	team_info 
      SET 
        `team_name` = #{teamName},
        `team_code` = #{teamCode}      
      WHERE  id = #{id}
    </update>
    
    <!--更新实体信息，null值字段不更新-->
    <update id="updateIgnoreNull" parameterType="com.hull.entity.TeamInfo">
        UPDATE team_info 
        <set>
          <if test="teamName != null">
           `team_name` = #{teamName},
      	  </if>
          <if test="teamCode != null">
           `team_code` = #{teamCode},
      	  </if>
        </set>
        WHERE   id = #{id}
    </update>
    
    <!--根据主键删除实体-->
    <delete id="delete">
      DELETE FROM team_info WHERE  id = #{id}
    </delete>
</mapper>